.background {
	position: relative;
	width: 100%;
	height: 310vh;
	background: linear-gradient(
		to bottom,
		#000000 20%,
		#004466 40%,
		/* rgba(0, 20, 60, 1) 60%, */
		#77bbdd 70%,
		#ffffff 100%
	);
	transition: background 0.5s ease-in-out;
}
