.rain {
	position: absolute;
	left: 0;
	width: 100vw;
	height: 400vh;
	z-index: 2;
	pointer-events: none;
}

.rain.back-row {
	z-index: 1;
	bottom: 60px;
	opacity: 0.5;
}

.drop {
	position: absolute;
	bottom: 100%;
	width: 15px;
	height: 150px;
	pointer-events: none;
	animation: drop 0.5s linear infinite;
}

@keyframes drop {
	0% {
		transform: translateY(100vh);
	}
	75% {
		transform: translateY(300vh);
	}
	100% {
		transform: translateY(350vh);
	}
}

.stem {
	width: 1px;
	height: 60%;
	margin-left: 7px;
	/* background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25)); */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
	animation: stem 0.5s linear infinite;
}

@keyframes stem {
	0% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	75% {
		opacity: 0.3;
	}
	100% {
		opacity: 0;
	}
}
